<!-- views/editProduct.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Trip</title>
    <link rel="stylesheet" href="/table.css">
</head>
<body>
    <h1>Edit Trip</h1>
    <form action="/trips/edit/<%= product._id %>" method="POST">
        <label for="country">Country:</label>
        <input type="text" id="country" name="country" value="<%= product.country %>">

        <label for="place">Place:</label>
        <input type="text" id="place" name="place" value="<%= product.place %>">

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" value="<%= product.price %>">

        <label for="date">Date:</label>
        <input type="date" id="date" name="date" value="<%= product.date.toISOString().slice(0, 10) %>">


        <button type="submit">Save Changes</button>
    </form>
</body>
</html>
