<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trips List</title>
    <link rel="stylesheet" href="/table.css">
</head>
<body>
    <h1>Trips List</h1>
    <table>
        <thead>
            <tr>
                <th>Country</th>
                <th>Place</th>
                <th>Price</th>
                <th>Date</th>
                <th>Actions</th> <!-- Новий стовпець для кнопок -->
            </tr>
        </thead>
        <tbody>
            <% products.forEach(product => { %>
                <tr id="product-<%= product._id %>">
                    <td><%= product.country %></td>
                    <td><%= product.place %></td>
                    <td><%= product.price %></td>
                    <td><%= product.date %></td>
                    <td class="actions">
                        <!-- Кнопка редагування -->
                        <a href="/trips/edit/<%= product._id %>" class="btn edit-btn">Edit</a>
                    
                        <!-- Кнопка видалення -->
                        <button onclick="deleteProduct('<%= product._id %>')" class="btn delete-btn">Delete</button>
                    </td>
                    
                </tr>
            <% }); %>
        </tbody>
    </table>

    <script>
        async function deleteProduct(productId) {
            try {
                const response = await fetch(`/trips/delete/${productId}`, {
                    method: 'DELETE',
                    headers: { 'Content-Type': 'application/json' }
                });
                
                if (response.ok) {
                    // Видаляємо рядок з таблиці без перезавантаження сторінки
                    document.getElementById(`product-${productId}`).remove();
                } else {
                    console.error('Error deleting product:', response.statusText);
                }
            } catch (error) {
                console.error('Error deleting product:', error);
            }
        }

        
        
    </script>
</body>
</html>
